/*
|--------------------------------------------------------------------------
| breadcrumbs
|--------------------------------------------------------------------------
*/
.breadcrumbs_content{
    width: 100%;
    background-color: #232323;
}

.breadcrumbs {
    padding: 6px 15px;
    margin-left: 7%;
    margin-bottom: 20px;
    list-style: none;
}
.breadcrumbs > li {
    display: inline-block;
    margin-top: 1%;
    padding: 0;
}
.breadcrumbs > li + li:before {
    padding: 1px 5px;
    color: #ccc;
    content: "|";
}
.breadcrumbs > .active {
    color: #777;
}

.lien_breadcrumbs{
    color: #A1A1A1;
    font-size: 0.8em;
    font-weight: bold;
}

.lien_breadcrumbs:hover{
    color: #CDAA5A;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
}

.selected{
    color: #C7C4C4;
}

.selected:hover{
    cursor: default;
    color: #ccc;
}