/*------------------------------------------------------------------------
# Bycorsica - 2016
# ------------------------------------------------------------------------
# 
--------------------------------------------------------------------------


    1.  Common css (Link, button, margin class, text align class...)
    2.  Templage - Navbar
    3.  Template - Footer
    4.  Page HOME - Carousel
    5.  Page HOME - Bloc Categorie
    6.  Page HOME - Liste Produits (Populaire / Meilleures ventes)


/*
|--------------------------------------------------------------------------
| 1. Common css (Link, button, margin class, text align class...)
|--------------------------------------------------------------------------
*/

html{
    height: 100%;
}
body{
    min-height: 100%;
    position: relative;
    background-color: #141414;
    color: white;
}
a:hover, a:focus, a:active{
    text-decoration: none;
}
.btn-primary{
    background-color: #E0C868;
    border-color: #DDBE41;
}
.btn-primary:hover{
    background-color: #DDBE41;
    border-color: #DDBE41;
}


/*
|--------------------------------------------------------------------------
| 2. TEMPLATE - Navbar
|--------------------------------------------------------------------------
*/

.navbar{
    margin-bottom: 10px;
}
.navbar-top{
    border-bottom: 1px solid #E0C868;
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #E0C868;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color: #101010; 
    border: solid 1px #E0C868;
}
#login-dp a{
    color: #E0C868;
}
#login-dp a:focus, #login-dp a:hover{
    text-decoration: none;
}
#login-dp label{
    padding-bottom: 5px;
}
#login-dp .help-block{
    font-size:12px;    
}
#login-dp .bottom{
    background-color: #222; 
    border-top: solid 1px #222;
    clear:both;
    padding:14px;
}
 #login-dp .form-group{
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


/*
|--------------------------------------------------------------------------
| 3. TEMPLATE - Footer
|--------------------------------------------------------------------------
*/

.full {
    width: 100%;    
    }
    .gap {
        height: 30px;
        width: 100%;
        clear: both;
        display: block;
    }
    .footer {
        background: #222;
        height: auto;
        padding-bottom: 10px;
        position: relative;
        width: 100%;
        /*border-bottom: 1px solid #CCCCCC;*/
        border-top: 1px solid #E0C868;
    }
    .footer p {
        margin: 0;
    }
    .footer img {
        max-width: 100%;
    }
    .footer h4 {
        border-bottom: 1px solid white;
        margin-top: 30px;
        margin-bottom: 10px;
        color: white;
        /*font-size: 18px;*/
        font-weight: 400;
        line-height: 27px;
        padding: 0px 0 10px;
        text-transform: uppercase;
    }
    .footer ul {
        font-size: 13px;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 15px;
        color: #7F8C8D;
    }
    .footer ul li a {
        padding: 0 0 5px 0;
        display: block;
        color: white;
    }
    .footer ul li a:hover {
        color:#E0C868;
        text-decoration: none;
    }
    .supportLi h4 {
        font-size: 20px;
        font-weight: lighter;
        line-height: normal;
        margin-bottom: 0 !important;
        padding-bottom: 0;
    }
    .newsletter-box input#appendedInputButton {
        background: #FFFFFF;
        display: inline-block;
        float: left;
        height: 30px;
        clear: both;
        width: 100%;
    }
    .newsletter-box .btn {
        border: medium none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        display: inline-block;
        height: 40px;
        padding: 0;
        width: 100%;
        color: #fff;
    }
    .newsletter-box {
        overflow: hidden;
    }
    .newsletter-box .btn{
        border-radius: 0px;
    }
    .bg-gray {
        background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
        box-shadow: 0 1px 0 #B4B3B3;
    }
    .social li {
        background: none repeat scroll 0 0 #B5B5B5;
        border: 2px solid #B5B5B5;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        float: left;
        height: 36px;
        line-height: 36px;
        margin: 0 8px 0 0;
        padding: 0;
        text-align: center;
        width: 36px;
        transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
    }
    .social li:hover {
        transform: scale(1.15) rotate(360deg);
        -webkit-transform: scale(1.1) rotate(360deg);
        -moz-transform: scale(1.1) rotate(360deg);
        -ms-transform: scale(1.1) rotate(360deg);
        -o-transform: scale(1.1) rotate(360deg);
    }
    .social li a {
        color: #EDEFF1;
    }
    .social li:hover {
        border: 2px solid #DBB725;
        background: #E0C868;
    }
    .social li a i {
        font-size: 16px;
        margin: 0 0 0 5px;
        color: #EDEFF1 !important;
    }
    .footer-bottom {
        background: #222;
        /*border-top: 1px solid #DDDDDD;*/
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer-bottom p.pull-left {
        padding-top: 6px;
        color: gray;
    }
    .payments {
        font-size: 1.5em;   
    }


/*
|--------------------------------------------------------------------------
| 4. Page HOME - Carousel
|--------------------------------------------------------------------------
*/

.glyphicon-chevron-left, .glyphicon-chevron-right{
    color: #E0C868;
}
.carousel-indicators li {
  border: 1px solid #E0C868;
}
.carousel-indicators .active {
  background-color: #E0C868;
}
.separation {
    height: 40px; 
    background-color: #222;   
}


/*
|--------------------------------------------------------------------------
| 5. Page HOME - Bloc Categorie
|--------------------------------------------------------------------------
*/

.home-category { 
    background-color: #222;
}
.home-category .bloc {
    padding: 0;
    text-align: center;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}
.home-category .bloc:hover {
    background-color: #E0C868;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
}
.home-category .bloc a{
    color: white;
}
.home-category .bloc a:hover{
    text-decoration: none;
}
.home-category .bloc img{
    width: 100%;
    border-width: 1px 0 1px 1px;
    border-color: #2A2A2A;
    border-style: solid;
}
.home-category .bloc .libelle{
    padding-top: 20px; 
    padding-bottom: 20px;
    border-left: 1px #2A2A2A solid;
}


/*
|--------------------------------------------------------------------------
| 6. Page HOME - Liste Produits (Populaire / Meilleures ventes)
|--------------------------------------------------------------------------
*/

.home-product{
    margin-top: 40px;
    margin-bottom: 40px;
}

.home-product-tabs {
    border: none;
    background-color: transparent;
}

.home-product-tabs > li:first-child{
    margin-left: 0;
}
.home-product-tabs > li{
    margin-bottom: 0;
    margin-left: 30px;
}
.home-product-tabs > li:first-child a{
    padding: 0;
    border-left: none;
}
.home-product-tabs > li.active a, 
.home-product-tabs > li a:hover{
    background: transparent;
    font-weight: 400;
}
.home-product-tabs > li.active a{
    color: white;
}
.home-product-tabs > li a:hover{
    color: #E0C868;
    text-decoration: none;
}
.home-product-tabs > li a{
    font-size: 30px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    border: none;
    outline: none;
    margin: 0;
    color: #5f5f5f;
    border-left: 1px solid #5f5f5f;
    padding: 0 0 0 30px;
}


.home-product-content{
    margin-top: 20px;
}
.home-product .home-product-content .product-image:hover{
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
    -moz-filter: brightness(1.5);
    -o-filter: brightness(1.5);
    -ms-filter: brightness(1.5);
}
.home-product .home-product-content a{
    color: #E0C868
}
.home-product .home-product-content a:hover{
    color: #A48226; 
}
.home-product .home-product-content .border-bloc{
    padding-left: 0; 
    padding-right: 0; 
    border: 1px solid #E0C868; 
    border-radius: -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.home-product .home-product-content .border-image{
    width: 100%;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px #2A2A2A solid;
}
.home-product .home-product-content .product-description{
    margin: 0 10px 10px 10px;
}
.home-product .home-product-content .product-description .product-title{
    font-weight: 400;
    margin-top: 10px;
}
.home-product .home-product-content .product-description .product-libelle{
    padding-top: 5px; 
}
.home-product .home-product-content .product-description .product-price{
    padding-top: 10px; 
    padding-bottom: 10px;
}
.home-product .home-product-content .product-description .product-cart{
    float: right;
}