/*------------------------------------------------------------------------
# Bycorsica - 2016
# ------------------------------------------------------------------------
#
--------------------------------------------------------------------------

    Common css (Link, button, margin class, text align class...)
    Templage - Navbar
    Template - Footer
    Blocks Product Sort
    Blocks Product Grille
    Blocks Product Liste
    Blocks Product Pagination
    Page HOME - Carousel
    Page HOME - Categorie
    Page HOME - Liste Produits (Populaire / Meilleures ventes)
    Page Registration
    Page Search
    Page Forgot Pass
    Page Basket
    Page Commande
    Page Commande Step 1
    Page Commande Step 2
    Page Commande Step 3
    Page Commande Step 4
    Page Produit
    Page Categorie
    Page Account
    Page Contact
    Page CGU
    Page CGV
    Page Mentions Legal

/*
|--------------------------------------------------------------------------
| Common css (Link, button, margin class, text align class...)
|--------------------------------------------------------------------------
*/

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    background-color: #141414;
    color: white;
}

h3 {
    font-weight: 200;
}

a {
    color: #E0C868;
}

a:hover {
    color: #A48226;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

label {
    font-weight: 200;
}

/* scroll fixes */
.modal-open .modal {
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow-y: scroll;
}

.breadcrumbs, 
.search-heading, 
.search-sort, 
.search-content, 
.category-heading,
.category-sort,
.category-content,
.product-pagination,
.account,
.update-address-content {
    background-color: #222;
}

.btn-primary {
    background-color: #E0C868;
    border-color: #DDBE41;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #DDBE41;
    border-color: #DDBE41;
    outline: none;
}

.breadcrumb {
    background-color: #222;
    border-radius: 0px;
    border-bottom: 1px solid gray;
}

.breadcrumb a {
    color: white;
}

.breadcrumb > .active {
    color: #E0C868;
}

.libelle {
    font-weight: 200;
}

/*
|--------------------------------------------------------------------------
| TEMPLATE - Navbar
|--------------------------------------------------------------------------
*/

.navbar {
    margin-bottom: 10px;
}

.navbar-top {
    border-bottom: 1px solid #E0C868;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #E0C868;
}

.navbar .myaccount {
    display: inline-block; 
    padding-right: 5px;
}

.navbar .logout {
    display: inline-block; 
    padding-left: 5px;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: #101010;
    border: solid 1px #E0C868;
    font-size: 1em;
}

#login-dp a {
    color: #E0C868;
}

#login-dp a:focus, #login-dp a:hover {
    text-decoration: none;
}

#login-dp label {
    padding-bottom: 5px;
}

#login-dp .help-block {
    font-size: 1em;
}

#login-dp .bottom {
    background-color: #222;
    border-top: solid 1px #222;
    clear: both;
    padding: 14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

.badge {
    margin-left: 5px;
}

.tooltip_basket {
    z-index: 1;
    display: none;
    position: absolute;
    width: 350px; 
    top: 50px; 
    right: 25px; 
    border: 1px solid #E0C868;
    background-color: #222; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; 
}

.tooltip_basket_content {
    padding: 10px;
}

.tooltip_basket .table-condensed>tbody>tr>td {
    vertical-align: middle;
    font-size: 1.1em;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.tooltip_basket .table>tbody>tr:first-child>td {
    border-top: 0;
}

.tooltip_basket .table>tbody>tr:last-child>td {
    border-bottom: 1px solid gray;
}

.tooltip_basket .table .image {
    width: 80px;
}

.tooltip_basket .table img {
    width: 60px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.tooltip_basket_footer {
    text-align: center;
}

.tooltip_basket_footer button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.delete_purchase {
    color: #d9453c;
}


/*
|--------------------------------------------------------------------------
| TEMPLATE - Footer
|--------------------------------------------------------------------------
*/

.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.footer {
    background: #222;
    height: auto;
    padding-bottom: 10px;
    margin-top: 40px;
    position: relative;
    width: 100%;
    border-top: 1px solid #E0C868;
}

.footer p {
    margin: 0;
}

.footer img {
    max-width: 100%;
}

.footer h4 {
    border-bottom: 1px solid white;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    font-weight: 400;
    line-height: 27px;
    padding: 0px 0 10px;
    text-transform: uppercase;
}

.footer ul {
    font-size: 1em;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}

.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
    color: white;
}

.footer ul li a:hover {
    color: #E0C868;
    text-decoration: none;
}

/*.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}*/
.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}

.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}

.newsletter-box {
    overflow: hidden;
}

.newsletter-box .btn {
    border-radius: 0px;
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}

.social .icon_facebook {
    background: none repeat scroll 0 0 #3B5998;
    border: 2px solid #3B5998;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social .icon_twitter {
    background: none repeat scroll 0 0 #3AAAE1;
    border: 2px solid #3AAAE1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social .icon_googlePlus {
    background: none repeat scroll 0 0 #DB4437;
    border: 2px solid #DB4437;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social .icon_pinterest {
    background: none repeat scroll 0 0 #BD081C;
    border: 2px solid #BD081C;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social .icon_youtube {
    background: none repeat scroll 0 0 #CC181E;
    border: 2px solid #CC181E;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
    color: #EDEFF1;
}

.social li:hover {
    border: 2px solid #DBB725;
    background: #E0C868;
}

.social li a i {
    font-size: 1.5em;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}

.footer-bottom {
    background: #222;
    /*border-top: 1px solid #DDDDDD;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-bottom p.pull-left {
    padding-top: 6px;
    color: gray;
}

.payments {
    font-size: 1.5em;
}

/*
|--------------------------------------------------------------------------
| Blocks Product Sort
|--------------------------------------------------------------------------
*/

.sort {
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(224, 200, 104, 1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(224, 200, 104, 1);
    -o-box-shadow: 1px 1px 5px 0px rgba(224, 200, 104, 1);
    box-shadow: 1px 1px 5px 0px rgba(224, 200, 104, 1);
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-color: #1D1D1D;
}

.sort .form-group {
    margin-right: 20px;
}

.sort select {
    height: 25px;
    margin-left: 5px;
}

.sort label {
    margin: 0;
}

@media (max-width: 767px) {
    .sort label {
        padding-left: 5px;
        padding-bottom: 10px;
    }
}

.sort-tabs {
    border: 0;
    line-height: 24px;
    height: 24px;
    float: right;
}

@media (max-width: 767px) {
    .sort-tabs {
        float: left;
    }
}

.sort-tabs > li > a {
    color: #5f5f5f;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    border: 0;
}

.sort-tabs > li.active > a {
    background-color: transparent;
    border: 0;
    color: white;
}

.sort-tabs > li > a:hover,
.sort-tabs > li.active > a:hover {
    color: #E0C868;
    background-color: transparent;
    border: 0;
}

.sort-tabs > li.active > a:focus {
    color: white;
    background-color: transparent;
    border: 0;
}

/*
|--------------------------------------------------------------------------
| Blocks Product Grille
|--------------------------------------------------------------------------
*/

.product-grille {
    margin-bottom: 20px;
}

.product-grille .image {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 1px solid #E0C868;
    border-right: 1px solid #E0C868;
    border-bottom: 1px solid #2A2A2A;
    border-left: 1px solid #E0C868;
    overflow: hidden;
}

.product-grille .image:hover {
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
    -moz-filter: brightness(1.5);
    -o-filter: brightness(1.5);
    -ms-filter: brightness(1.5);
}

.product-grille .image img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.product-grille .description {
    padding: 10px 10px 10px 10px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #E0C868;
    border-bottom: 1px solid #E0C868;
    border-left: 1px solid #E0C868;
}

.product-grille .title {
    margin-top: 0px;
    text-align: center;
}

.product-grille .libelle {
    padding-top: 5px;
    font-weight: 200;
}

.product-grille .price {
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-grille .cart {
    float: right;
}


.product-grille-modal,
.product-liste-modal {
    color: black;
}

.product-grille-modal img,
.product-liste-modal img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.product-grille-modal .modal-body .row,
.product-liste-modal .modal-body .row {
    display: flex;
    align-items: center;
}


/*
|--------------------------------------------------------------------------
| Blocks Product Liste
|--------------------------------------------------------------------------
*/

.product-liste {
    padding-top: 15px;
    padding-bottom: 15px
}

.product-liste .table td {
    text-align: center;
    vertical-align: middle;
    border-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.product-liste .image {
    border: 1px solid #E0C868;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    overflow: hidden;

}

.product-liste .image:hover {
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
    -moz-filter: brightness(1.5);
    -o-filter: brightness(1.5);
    -ms-filter: brightness(1.5);
}

.product-liste img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.product-liste .left {
    border-right: 1px solid rgba(132, 132, 132, .5);
}

.product-liste .left .title {
    margin-top: 0;
}

.product-liste .left .description {
    margin-bottom: 5px;
    text-align: left;
}

.product-liste .left .link {
    text-align: left;
}

.product-liste .right .cart {
    margin-top: 0;
}

.product-liste .right .cart {
    margin-bottom: 10px;
}

.product-liste .right .cart i,
.product-liste .right .gift i {
    padding-right: 10px;
}


/*
|--------------------------------------------------------------------------
| Blocks Product Pagination
|--------------------------------------------------------------------------
*/

.product-pagination .result{
    font-size: 1.3em;
    height: 76px;
    line-height: 76px;
}

.product-pagination .pagination>li>a{
    color: black;
}

@media screen and (max-width: 991px) {
    .product-pagination .result{
    font-size: 1.2em;
    }
}

@media screen and (max-width: 767px) {
    .product-pagination .result{
    font-size: 1.2em;
    text-align: center;
    height: auto;
    line-height: 0;
    margin-top: 20px;
    }
}

/*
|--------------------------------------------------------------------------
| Page HOME - Carousel
|--------------------------------------------------------------------------
*/

.glyphicon-chevron-left, .glyphicon-chevron-right {
    color: #E0C868;
}

.carousel-indicators li {
    border: 1px solid #E0C868;
}

.carousel-indicators .active {
    background-color: #E0C868;
}

.separation {
    height: 40px;
    background-color: #222;
}

/*
|--------------------------------------------------------------------------
| Page HOME - Category
|--------------------------------------------------------------------------
*/

.home-category {
    background-color: #222;
}

.home-category .bloc {
    padding: 0;
    text-align: center;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}

.home-category .bloc:hover {
    background-color: #E0C868;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
}

.home-category .bloc a {
    color: white;
}

.home-category .bloc a:hover {
    text-decoration: none;
}

.home-category .bloc img {
    width: 100%;
    border-width: 1px 0 1px 1px;
    border-color: #2A2A2A;
    border-style: solid;
}

.home-category .bloc .libelle {
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px #2A2A2A solid;
}

/*
|--------------------------------------------------------------------------
| Page HOME - Liste Produits (Populaire / Meilleures ventes)
|--------------------------------------------------------------------------
*/

.home-product {
    margin-top: 40px;
}

.home-product-tabs {
    border: none;
    background-color: transparent;
    padding-bottom: 20px;
}

.home-product-tabs > li {
    margin-bottom: 0;
    margin-left: 30px;
}

.home-product-tabs > li:first-child {
    margin-left: 0;
}

.home-product-tabs > li.active a,
.home-product-tabs > li a:hover {
    background: transparent;
    font-weight: 400;
}

.home-product-tabs > li.active a {
    color: white;
}

.home-product-tabs > li a:hover {
    color: #E0C868;
    text-decoration: none;
}

.home-product-tabs > li a {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.688em;
    text-transform: uppercase;
    color: #5f5f5f;
    border-left: 1px solid #5f5f5f;
    padding: 0 0 0 30px;
}

.home-product-tabs > li:first-child a {
    padding: 0;
    border-left: none;
}

/*
|--------------------------------------------------------------------------
| Page Registration
|--------------------------------------------------------------------------
*/

.registration-content {
    background-color: #222;
    margin-bottom: 20px;
}

.registration-content .panel {
    background-color: #222;
    margin-bottom: 0;
}

.registration-content .panel-heading {
    padding: 0;
}

.registration-content h3 {
    font-size: 1.5em;
}

.registration-content .checkbox {
    margin-bottom: 0;
    margin-top: 0;
}

.registration-content .btn {
    margin-top: 40px;
}

/*
|--------------------------------------------------------------------------
| Page Search
|--------------------------------------------------------------------------
*/

.search-content {
    padding-top: 20px;
}

.search-heading h3 {
    font-size: 1.5em;
    margin-top: 0px;
}

.search-heading span {
    color: #E0C868;
}

.search-sort {
    padding-top: 20px;
    padding-bottom: 20px;
}


/*
|--------------------------------------------------------------------------
| Page Forgot Password
|--------------------------------------------------------------------------
*/
.forgotPass {
    background-color: #222;
    margin-bottom: 20px;
}

.forgotPass .panel {
    background-color: #222;
    margin-bottom: 0;
}

.forgotPass .panel-heading {
    padding: 0;
}

.forgotPass h3 {
    font-size: 1.5em;
}

.forgotPass .checkbox {
    margin-bottom: 0;
    margin-top: 0;
}

.forgotPass .btn {
    margin-top: 20px;
}



/*
|--------------------------------------------------------------------------
| Page Basket
|--------------------------------------------------------------------------
*/
.basket {
    background-color: #222;
    margin-bottom: 20px;
}

.basket .panel {
    background-color: #222;
    margin-bottom: 0;
}

.basket .panel-heading {
    padding: 0;
}

.basket h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.basket .refPr{
    margin-top: 10px;
}

.basket  .cart_info1 {
    border: 1px solid #B79332;
    padding: 0;
    margin-bottom: 40px;
}

.basket .cart_info1 .cart_menu {
    background: #B79332;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
}

.basket  .cart_info2 {
    border: 1px solid #B79332;
    padding: 0;
    margin-bottom: 40px;
}

.basket .cart_info2 .cart_menu {
    background: #B79332;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
}

.basket .table {
    margin-bottom: 0px;
}
.basket .table p,
.basket .table h4 {
    margin: 0;
}

.basket .cart_info1 .table.table-condensed tr {
    border-bottom: 1px solid #B79332;
}

.basket .cart_info1 .table.table-condensed tr:last-child {
    border-bottom: 0
}

.basket .cart_info1 table tr td {
    border-top: 0 none;
    vertical-align: inherit;
}

/*.basket .cart_info1 .image {
    padding-left: 30px;
}*/

.basket .cart_info1 .cart_product img {
    width: 100%;
}

.basket .cart_info1 .cart_description h4 {
    margin-bottom: 0
}

.basket .cart_info1 .cart_description h4 a {
    color: #fff;
    font-size: 1em;
    font-weight: normal;
}

.basket .cart_info1 .cart_description p {
    color:#CECCCC;
    font-size: 0.9em;
}

.basket .cart_info2 .table.table-condensed tr {
    border-bottom: 1px solid #B79332;
}

.basket .cart_info2 .table.table-condensed tr:last-child {
    border-bottom: 0
}

.basket .cart_info2 table tr td {
    border-top: 0 none;
    vertical-align: inherit;
}

.basket .cart_info2 table td {
    text-align: center;
}

.basket .cart_info2 .image {
    padding-left: 30px;
}

.basket .cart_info2 .cart_description h4 {
    margin-bottom: 0
}

.basket .cart_info2 .cart_description h4 a {
    color: #fff;
    font-size: 1em;
    font-weight: normal;
}

.basket .cart_info2 .cart_description p {
    color:#CECCCC;
    font-size: 0.9em;
}

.basket .cart_info1 .cart_price p {
    color:#fff;
    font-size: 1.4em;
}

.basket .cart_info1 .cart_total p{
    color:#fff;
    font-size: 1.4em;
    font-weight: bold;
}

.basket .cart_info2 .cart_price p {
    color:#fff;
    font-size: 1.4em;
}

.basket .cart_info2 .cart_total p{
    color:#fff;
    font-size: 1.4em;
    font-weight: bold;
}

.basket .cart_product {
    display: block;
    font-size: 1.4em;
}

.basket .cart_quantity_button a {
    background:#B79332;
    color: #fff;
    display: inline-block;
    font-size: 1.35em;
    height: 28px;
    text-align: center;
    width: 35px;
    /*overflow: hidden;*/
    /*float: left;*/
}

.basket .cart_quantity_input {
    color: #B79332;
    font-size: 16px; /* Input text */
    text-align: center;
    font-family: 'Roboto',sans-serif;
    display: inline-block;
    margin-left: -5px;
    margin-right: -5px;
    vertical-align: top;
    width: 35px;
    /*overflow: hidden;*/

}

.basket .cart_delete  {
    display: block;
    /*margin-right: -12px;*/
    overflow: hidden;
}

.basket .cart_delete a {
    background:#fff;
    color: #B79332;
    padding: 5px 7px;
    font-size: 16px
}

.basket .cart_delete a:hover {
    background:#B79332;
    color: #fff;
}

.basket .cart_info1 .table.table-condensed.total-result {
    margin-bottom: 10px;
    margin-top: 35px;
    color: #fff
}

.basket .cart_info1 .table.table-condensed.total-result tr {
    border-bottom: 0
}

.basket .cart_info1 .table.table-condensed.total-result span {
    color: #222;
    font-weight: 700;
    font-size: 16px;
}

.basket .cart_info1 .table.table-condensed.total-result .shipping-cost {
    border-bottom: 1px solid #222;
}

.basket .cart_info2 .table.table-condensed.total-result {
    margin-bottom: 10px;
    margin-top: 35px;
    color: #fff
}

.basket .cart_info2 .table.table-condensed.total-result tr {
    border-bottom: 0
}

.basket .cart_info2 .table.table-condensed.total-result span {
    color: #222;
    font-weight: 700;
    font-size: 16px;
}

.basket .cart_info2 .table.table-condensed.total-result .shipping-cost {
    border-bottom: 1px solid #222;
}

.basket .break {
    margin-top: 5px;
}

.basket .no_product {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.2em;
}



/*
|--------------------------------------------------------------------------
| Page Commande 
|--------------------------------------------------------------------------
*/

.commande {
    background-color: #222;
    margin-bottom: 20px;
}

.commande .panel {
    background-color: #222;
    margin-bottom: 0;
}

.commande .panel-heading {
    padding: 0;
}

.commande h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.commande .table {
    margin-bottom: 0px;
}

.commande  .commande_infos {
    border: 1px solid #B79332;
    padding: 0;
    margin-bottom: 40px;
}

.commande .commande_infos thead tr {
    background: #B79332;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
}

.commande .commande_infos tbody td {
    padding-top: 15px;
}

.commande  .produits_infos {
    border: 1px solid #B79332;
    padding: 0;
    margin-bottom: 40px;
}

.commande .produits_infos thead tr{
    background: #B79332;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
}

.commande .table p,
.commande .table h4 {
    margin: 0;
}

.commande .produits_infos table tr td {
    border-top: 0 none;
    vertical-align: inherit;
}

.commande .produits_infos .table.table-condensed tr {
    border-bottom: 1px solid #B79332;
}

.commande .produits_infos .table.table-condensed tr:last-child {
    border-bottom: 0
}

.commande .produits_infos .cmd_product {
    display: block;
    font-size: 1.4em;
}

.commande .produits_infos .image {
    padding-left: 30px;
}

.commande .produits_infos .cmd_description h4 {
    margin-bottom: 0
}

.commande .produits_infos .cmd_description h4 a {
    color: #fff;
    font-size: 1em;
    font-weight: normal;
}

.commande .produits_infos .cmd_description p {
    color:#CECCCC;
    font-size: 0.9em;
}



/*
|--------------------------------------------------------------------------
| Page Commande Step 1
|--------------------------------------------------------------------------
*/

.commandeStepOne {
    background-color: #222;
    margin-bottom: 20px;
}

.commandeStepOne .commande_login,
.commandeStepOne .commande_registration {
    margin-bottom: 20px;
}

.commandeStepOne .panel {
    background-color: #222;
    margin-bottom: 0;
}

.commandeStepOne .panel-heading {
    padding: 0;
}

.commandeStepOne h3 {
    font-size: 1.5em;
}

.commandeStepOne .setup-panel{
    border: 1px solid #B79332;
    background-color: #222;
}

.commandeStepOne .nav-pills > li.active > a,
.commandeStepOne .nav-pills > li.active > a:hover,
.commandeStepOne .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #B79332;
}

.commandeStepOne .commande_login{
    border: 1px solid #B79332;
    background-color: #323232;
}

.commandeStepOne .commande_registration{
    border: 1px solid #B79332;
    background-color: #323232;
}

.commandeStepOne .check-newsletter,
.commandeStepOne .newsletter {
    margin-bottom: 0;
}

.commandeStepOne .check-offers {
    margin-top: 0;
}


/*
|--------------------------------------------------------------------------
| Page Commande Step 2
|--------------------------------------------------------------------------
*/
.commandeStepTwo-heading,
.commandeStepTwo-address-select,
.commandeStepTwo-address-add {
    background-color: #222;
}

.commandeStepTwo-heading .setup-panel {
    border: 1px solid #B79332;
    background-color: #222;
}

.commandeStepTwo-heading .nav-pills > li.active > a,
.commandeStepTwo-heading .nav-pills > li.active > a:hover,
.commandeStepTwo-heading .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #B79332;
}

.commandeStepTwo-address-select {
    padding-top: 20px;
}


.commandeStepTwo-address-select h4,
.commandeStepTwo-address-add h4 {
    padding-bottom: 20px;
    font-weight: 200;
}

.commandeStepTwo-address-add {
    padding-top: 20px;
}

.commandeStepTwo-address-select .panel-default {
    border-color: 1px solid #B79332;
}

.commandeStepTwo-address-select .panel-heading {
    background-color: #1E1E1E;
}

.commandeStepTwo-address-select .panel-title {
    color: white;
}

.commandeStepTwo-address-select .panel-body {
    background-color: #323232;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-address-update h4,
.modal-address-update .modal-body {
    color:black;
}

.btn-address-add {
    padding-top: 20px;    
}


/*
|--------------------------------------------------------------------------
| Page Commande Step 3
|--------------------------------------------------------------------------
*/

.commandeStepThree-heading {
    background-color: #222;
    padding-bottom: 20px;
}

.commandeStepThree-heading .setup-panel{
    border: 1px solid #B79332;
    background-color: #222;
}

.commandeStepThree-heading .nav-pills > li.active > a,
.commandeStepThree-heading .nav-pills > li.active > a:hover,
.commandeStepThree-heading .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #B79332;
}

.commandeStepThree-content {
    background-color: #222;
    padding-bottom: 20px;
}

.commandeStepThree-content .libelle {
    font-size: 1.4em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.commandeStepThree-content .table td {
    border: 1px solid gray;
    text-align: center;
    vertical-align: middle;
}

.commandeStepThree-content .checkbox {
    padding-bottom: 20px;
}


/*
|--------------------------------------------------------------------------
| Page Commande Step 4
|--------------------------------------------------------------------------
*/

.commandeStepFour-heading {
    background-color: #222;
    margin-bottom: 20px;
}

.commandeStepFour-heading .setup-panel{
    border: 1px solid #B79332;
    background-color: #222;
}

.commandeStepFour-heading .nav>li>a:hover{
    background-color: rgba(225, 224, 195, 0.2);
}

.commandeStepFour-heading .nav-pills > li.active > a,
.commandeStepFour-heading .nav-pills > li.active > a:hover,
.commandeStepFour-heading .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #B79332;
}

.commandeStepFour-content .libelle {
    font-size: 1.4em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.commandeStepFour-content .paiement td {
    border-bottom: 1px solid gray;
    text-align: center;
    vertical-align: middle;
}

.commandeStepFour-content .paiement img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: 100%; 

}

.commandeStepFour-content  .cart_info2 {
    border: 1px solid #B79332;
    padding: 0;
    margin-bottom: 40px;
}

.commandeStepFour-content .cart_info2 .cart_menu {
    background: #B79332;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
}

.commandeStepFour-content .cart_info2 .table { 
    margin-bottom: 0;
}

.commandeStepFour-content .cart_info2 .table.table-condensed tr:last-child {
    border-bottom: 0
}

.commandeStepFour-content .cart_info2 table tr td {
    border-top: 0 none;
    vertical-align: inherit;
}

.commandeStepFour-content .cart_info2 table td {
    text-align: center;
}

.commandeStepFour-content .cart_info2 .cart_product p,
.commandeStepFour-content .cart_info2 .cart_price p,
.commandeStepFour-content .cart_info2 .cart_total p {
    color:#fff;
    font-size: 1.4em;
}

.commandeStepFour-content .mode-paiement .panel-body {
    background-color: #323232;
}

.commandeStepFour-content .mode-paiement {
    margin-bottom: 20px;
}

.commandeStepFour-content .mode-paiement .panel-body .check,
.commandeStepFour-content .mode-paiement .panel-body .image  {
    padding-right: 10px;
}

.commandeStepFour-content .mode-paiement .panel-body img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;   
}

.commandeStepFour-content .mode-paiement .panel-body label {
    font-size: 1.1em;
}


/*
|--------------------------------------------------------------------------
| Page Produit
|--------------------------------------------------------------------------
*/
.produit .panel {
    background-color: #222;
    border-radius: 0;
}

.produit .panel-body {
    margin-top: -50px;
}

.produit .image_product {
    max-width: 100%;
    border: 1px solid #B79332;
    border-radius: 10px 10px 10px 10px;
}

.produit .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .produit .preview {
        margin-bottom: 20px;
    }
}

.produit .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.produit .tab-content {
    overflow: hidden;
}

.produit .tab-content .image_product {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.produit .card {
    margin-top: 50px;
    background: #222222;
    padding: 3em;
    line-height: 1.5em;
}

.produit .bloc {
    border: 1px solid #B79332;
    background-color: #323232;
    color: #fff;
}

.produit .sendFriend {
    text-align: center;
    font-size: 1.0em;
}

.produit .ajax_sendFriend {
    text-decoration: none;
    color: #A1A19D;
    cursor: pointer;
}

.produit .ajax_sendFriend:hover {
    text-decoration: none;
    color: #B79332;
}

.produit .print {
    text-align: center;
    margin-top: 10px;
    font-size: 1.0em;
}

.produit .ajax_print {
    text-decoration: none;
    color: #A1A19D;
    cursor: pointer;
}

.produit .ajax_print:hover {
    text-decoration: none;
    color: #B79332;
}

.produit .sendFriend i, 
.produit .print i,
.produit .panier i,
.produit .cadeau i{
    padding-right: 10px;
}

@media screen and (min-width: 997px) {
    .produit .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.produit .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.produit .product-title, .price {
    text-transform: UPPERCASE;
    font-weight: normal;
}

.produit .produit .price {
    color: #fff;
    text-align: center;
    font-size: 1.4em;
    font-weight: normal;
}

.produit .qte {
    text-align: center;
}

/*Equivalent => input[type=number]*/
.produit ._inputQte {
    cursor: pointer;
    width: 80px;
    color: #fff;
    text-align: center;
    position: relative;
    background-color: #323232;
}

.produit .del_qte {
    height: 30px;
    width: 30px;
    margin-left: 20px;
    background-color: #323232;
}

.produit .add_qte {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    background-color: #323232;
}

.produit .panier {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.0em;
    color: #A1A19D;
}

.produit .ajax_panier {
    text-decoration: none;
    color: #A1A19D;
    cursor: pointer;
}

.produit .ajax_panier:hover {
    text-decoration: none;
    color: #B79332;
}

.produit .cadeau {
    margin-top: 10px;
    text-align: center;
    font-size: 1.0em;
    color: #A1A19D;
    margin-bottom: 15px;
}

.produit .ajax_cadeau {
    text-decoration: none;
    color: #A1A19D;
    cursor: pointer;
}

.produit .ajax_cadeau:hover {
    text-decoration: none;
    color: #B79332;
}

.produit .product-title, .price {
    text-align: center;
    margin-bottom: 10px;
}

.produit .product-title {
    margin-top: 0;
}

.produit .social {
    list-style-type: none;
    padding-top: 10px;
}

.produit .product_text {
    margin-top: 30px;
    margin-left: 15px;
}

.produit .bigTitle {
    margin-top: 35px;
    border: 1px solid #222222;
    background-color: #323232;
}

.produit .title_bloc {
    text-align: center;
    color: #fff;
}

.produit .productSpaceLab {
    margin-top: 30px;
}

@media screen and (max-width: 991px) {
    .produit .details{
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

/*
|--------------------------------------------------------------------------
| Page Categorie
|--------------------------------------------------------------------------
*/

.category-heading img{
    border: 1px solid #B79332;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: 100%; 
}

.category-sort{
    padding-top: 30px;
    padding-bottom: 20px;
}

/*
|--------------------------------------------------------------------------
| Page Account - General
|--------------------------------------------------------------------------
*/

.account {
    padding-top: 20px;
    padding-bottom: 35px;
}

.account .title {
    margin-bottom: 40px;
}

.account ul {
 margin-left: 50px;
 margin-right: 50px;
}

.account .nav>li>a:focus, 
.account .nav>li>a:hover {
    background-color: transparent;
}

.account .nav>li>a:hover {
    color: #E0C868;
}

.account .nav-tabs>li>a {
    color: white;
}

.account .nav-tabs>li>a:hover {
    border-color: transparent;
}

.account.nav-tabs>li.active>a:hover {
    background-color: transparent;
    border: 1px solid white;
    color: #E0C868;
}

.account .nav-tabs>li.active>a, 
.account .nav-tabs>li.active>a:focus, 
.account.nav-tabs>li.active>a:hover {
    background-color: #222;
    border: 1px solid white;
    color: #E0C868;
}

.account .tab-pane {
    padding-top: 40px;
}

.account .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.account .infos .btn {
    margin-top: 40px;
}


/*
|--------------------------------------------------------------------------
| Page Account - Onglet Adresse
|--------------------------------------------------------------------------
*/

.account .address .address-details {
    padding-top: 20px;
    padding-bottom: 20px;
}

.account .address .address-details .bloc {
    border: 1px solid #E0C868;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.account .address .address-details .bloc .libelle {
    text-align: center;
    background-color: #1E1E1E;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #2A2A2A; 

}

.account .address .firstaddress a:focus{
    color: #A48226;
    outline: none;
}

.account .address .address-details .bloc .bloc-details {
    padding-left: 10px;
    padding-bottom: 20px;
}

.account .address .address-details .bloc .bloc-btn {
    padding-top: 10px;
}

.account .address .address-new {
    text-align: center;
    padding-top: 20px;
}

.account .address .modal-address-new,
.account .address .modal-address-update{
    color:black;
}

.update-address-content {
    background-color: #222;
    margin-bottom: 20px;
}

.update-address-content .panel {
    background-color: #222;
    margin-bottom: 0;
}

.update-address-content .panel-heading {
    padding: 0;
}

.update-address-content .panel-heading .libelle {
    color : #E0C868;
}

.update-address-content h3 {
    font-size: 1.5em;
}

.update-address-content .btn {
    margin-top: 40px;
}

/*
|--------------------------------------------------------------------------
| Page Account - Onglet Commande
|--------------------------------------------------------------------------
*/

/*.commandes thead{
    background-color: #E6E6E6;
    color: black;
}*/

.commandes .table {
    border: 1px solid #B79332;
}

.commandes .table thead tr {
    background-color: #B79332;
}

.commandes .table-bordered>thead>tr {
    background: #B79332;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
}

.commandes .table-bordered>thead>tr>td {
    border: 1px solid #B79332;
}

.commandes table.dataTable thead .sorting_asc:after,
.commandes table.dataTable thead .sorting_desc:after,
.commandes table.dataTable thead .sorting:after {
    color: black;
}
.commandes table.dataTable thead .sorting:after{
    opacity: 0.3;
}

.commandes table.table-bordered.dataTable tbody td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.commandes .table-striped>tbody>tr:nth-of-type(even),
.commandes .table-striped>tbody>tr:nth-of-type(odd)
{
    background-color: #222;
}

.commandes table.table-bordered.dataTable tbody td {
    border: 0 none;
    border-bottom: 1px solid #B79332;
}

.commandes .pagination>.active>a {
    background-color: #E0C868;
    border-color: #E0C868;
}

.commandes .pagination>.active>a:hover {
    background-color: #A48226;
    border-color: #A48226;
}


/*
|--------------------------------------------------------------------------
| Page Contact
|--------------------------------------------------------------------------
*/

.contact-content {
    background-color: #222;
    margin-bottom: 20px;
}

.contact-content .panel {
    background-color: #222;
    margin-bottom: 0;
}

.contact-content .btn {
    margin-top: 40px;
}


/*
|--------------------------------------------------------------------------
| Page CGU
|--------------------------------------------------------------------------
*/
.cgu {
    background-color: #222;
    margin-bottom: 20px;
}

.cgu .panel {
    background-color: #222;
    margin-bottom: 0;
}

.cgu .panel-heading {
    padding: 0;
}

.cgu h3 {
    font-size: 1.5em;
}


/*
|--------------------------------------------------------------------------
| Page CGV
|--------------------------------------------------------------------------
*/
.cgv {
    background-color: #222;
    margin-bottom: 20px;
}

.cgv .panel {
    background-color: #222;
    margin-bottom: 0;
}

.cgv .panel-heading {
    padding: 0;
}

.cgv h3 {
    font-size: 1.5em;
}


/*
|--------------------------------------------------------------------------
| Page Mentions Légal
|--------------------------------------------------------------------------
*/
.mentionsLegal {
    background-color: #222;
    margin-bottom: 20px;
}

.mentionsLegal .panel {
    background-color: #222;
    margin-bottom: 0;
}

.mentionsLegal .panel-heading {
    padding: 0;
}

.mentionsLegal h3 {
    font-size: 1.5em;
}